doctype html
html(lang='zh')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Maicarons description')
        meta(name='author', content='Maicarons')

        title 麦禹Maicarons

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        link(href='https://cdn.staticfile.org/font-awesome/6.4.0/css/all.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none 麦禹Maicarons
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='https://avatars.githubusercontent.com/u/136282328?v=4', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') 关于我 About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') 经历 Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') 教育 Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') 技能 Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') 兴趣 Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') 获奖 Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | 麦禹
                        span.text-primary Maicarons
                    .subheading.mb-5
                        | 青开大道 1 号 青年开源虚拟大学
                        a(href='mailto:maicarons2023@outlook.com') maicarons2023#outlook.com
                    p.lead.mb-5
                        | 坚持一切为了人民、一切依靠人民，始终与人民风雨同舟、与人民心心相印，想人民之所想，行人民之所嘱，不断把人民对美好生活的向往变为现实。<br/>
                        | Put the people first, rely on the people, stand with people through thick and thin. Listen to people's needs, fulfill their wishes, and work tirelessly to turn people's aspirations for a better life into reality.
                    .social-icons
                        a.social-icon(href='#!')
                            i.fab.fa-bilibili
                        a.social-icon(href='https://github.com/Maicarons')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fab.fa-gitlab
                        a.social-icon(href='#!')
                            i.fab.fa-discord
                        a.social-icon(href='#!')
                            i.fab.fa-tiktok
                        a.social-icon(href='#!')
                            i.fab.fa-discord
                        a.social-icon(href='#!')
                            i.fab.fa-discord

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 经历 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 本地化和国际化助理
                            .subheading.mb-3 GOV
                            p
                                | 参与相关项目的本地化.
                        .flex-shrink-0
                            span.text-primary 2022年至今

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Golang 程序员
                            .subheading.mb-3 UNIVERSITY
                            p
                                | 常年参与golang项目的开发.
                        .flex-shrink-0
                            span.text-primary 2019年至今

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 前端实习生
                            .subheading.mb-3 社会
                            p
                                | 参与基于JQ的前端项目.
                        .flex-shrink-0
                            span.text-primary 2017年左右

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 PHP 实习生
                            .subheading.mb-3 社会
                            p
                                | 参与PHP有关的开发,主要集中在MySQL数据库的学习
                        .flex-shrink-0
                            span.text-primary 2015年左右

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 教育 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 青年开源虚拟大学 Youth Open Source Virtual University
                            .subheading.mb-3 终身学习
                            div F0021 F0022 F0023
                            p GPA: 4.21
                        .flex-shrink-0
                            span.text-primary 2023.2.6.23 - Now

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 青开大附属中学 High School of YOSVU
                            .subheading.mb-3 基础学习
                            div E0021 E0022 E0023
                            p GBA: 3.91
                        .flex-shrink-0
                            span.text-primary 2023.2.10 - 2023.6.23

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 技能 Skills
                    .subheading.mb-3 编程语言&工具 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-vue
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-less
                        //- li.list-inline-item
                        //-     i.fab.fa-less
                        //- li.list-inline-item
                        //-     i.fab.fa-wordpress
                        //- li.list-inline-item
                        //-     i.fab.fa-gulp
                        //- li.list-inline-item
                        //-     i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-golang
                        li.list-inline-item
                            i.fab.fa-rust
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-c
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | 后端Web3.0应用开发
                        li
                            span.fa-li
                                i.fas.fa-check
                            | 游戏开发
                        li
                            span.fa-li
                                i.fas.fa-check
                            | 黑白测试
                        li
                            span.fa-li
                                i.fas.fa-check
                            | 数字化教育

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 兴趣 Interests
                    p
                        | 历史学,政治学,哲学,法学
                    p.mb-0
                        | 曾辅修相关专业.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 获奖&证书 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 谷歌开源开发者认证(GLA)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Gitee MVP项目 贡献者
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | 某校视频创作大赛
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | 某组织程序创意大赛
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 2
                        //-     sup nd
                        //-     | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 1
                        //-     sup st
                        //-     | Place - James Buchanan High School - Hackathon 2006
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 3
                        //-     sup rd
                        //-     | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
